.close {
  right: -100%;
}
.open {
  right: 0;
}
.sidebar {
  position: fixed;
  top: 0;
  width: 300px;
  height: 100%;
  background-color: #f4f4f4;
  transition: right 0.3s ease;
  box-shadow: -2px 0 5px rgba(0,0,0,0.5);
}