@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/inter";

* {
  font-family: "monda", sans-serif;
}
.active {
  scale: 1.1;
}
a {
  text-decoration: none !important;
}

@font-face {
  font-family: "monda";
  src: url("../assets/fonts/Monda/static/Monda-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "monda";
  src: url("../assets/fonts/Monda/static/Monda-Medium.ttf");
  font-weight: 600;
}
